
<div class="wrapper">

    <div class="left">
        <p style="font-size: 55px;color:white;">
            A<br>B<br>O<br>U<br>T<br><br>U<br>S<br>
        </p>
    </div>

    <div class="right">
        <p>Akdeniz Airlines made its first flight in June 1995. Akdeniz Airlines, which started its flights again after a long hiatus, offers flights to 50 destinations in 20 countries and to 18 destinations on domestic lines. Don't forget to book your ticket with Akdeniz Airlines for a comfortable flight experience. </p>
        <img src="~/Content/css/img/akdenizucak.jpeg" style="margin-left: 25%;">
    </div>

</div>


