
<div class="background">

    <form name="form" id="form" method="POST">

        <label for="name">
            <p>Name:</p>
            <input type="text" name="name" id="name" class="contactus">
        </label>
        <label for="surname">
            <p>Surname:</p>
            <input type="text" name="surname" id="surname" class="contactus">
        </label>
        <label for="phone">
            <p>Phone Number:</p>
            <input type="number" name="phone" id="phone" class="contactus">
        </label>
        <label for="email">
            <p>Email:</p>
            <input type="email" name="email" id="email" class="contactus">
        </label>
        <label for="gender">
            <p>Gender:</p>
            <input type="radio" id="genderm" name="gender" value="Male"> Male
            <input type="radio" id="genderf" name="gender" value="Female"> Female
        </label>


        <input type="button" onclick="submitter()" value="Submit">

    </form>


</div>

