
<div id="background1">
    <form name="form1" id="form1">

        <div id="">

            <input type="radio" id="radio1" name="direction" /> Round Trip
            <input type="radio" id="radio2" name="direction" /> One Way <br />


            <input type="text" id="input1" placeholder="From">
            <input type="text" id="input1" placeholder="To">

            <select id="class">
                <option value="">Preffered Seatings</option>
                <option value="">Economy</option>
                <option value="">Bussiness</option>
                <option value="">First Class</option>

            </select>

            <select id="passengers">
                <option value="">Adult(12 +)</option>
                <option value="">Children(2-11 years old)</option>
                <option value="">Baby(Under 2 years old)</option>
                <option value="">Student(12-34 years old)</option>

            </select>

            <input type="date" id="input2" placeholder="Depart">
            <input type="date" id="input2" placeholder="Return">
    </form>
</div>

<button id="button" type="submit">Search Flights</button>

    </div>
